*{
  margin: 0;
  padding:0;
  background-color:#c1e4e9;
}
h1{
  margin:20px 20px 40px 20px;
  padding:10px 0px 10px 0px;
  background-color:#5a79ba;
  border:double 5px #fef4f4;
  border-left:inset 6px #e6cde3;
  border-right:inset 6px #e6cde3;
  width:1200px;
  font-size:22px;
}
.subti{
  margin:40px 0px 40px 20px;
  border-bottom:dotted 3px #89c3eb;
  color:#555;
  background-color:#fff1cf;
  width:1200px;
  font-size:22px;
}
ul{
  padding:40px 0px 0px 30px;
  margin-left:40px;
  height:100px;
  width:200px;
  color:#033;
  background-color:#afafb0;
  border:dashed 2px #250d00;
}
p{
  margin:5px 0px 5px 40px;
  font-size:16px;
  color:#000;
}
.red{
  font-size:16px;
  color:#c53d43;
}
table{
  margin-top:40px;
  margin-left:80px;
}
tr,td,th{
  border:solid 1px #000b00;
}



